{{ ansible_managed | comment }}
/dev
/mnt
/proc
/sys
/tmp
/.socket
/root/.cache
/root/.ccache
/var/cache
/var/log
/var/lib/mysql/mysqld.log*
/var/tmp
/home/backup
/home/bacula
/home/virtual/FILESYSTEMTEMPLATE
/home/virtual/site*/shadow/var/lib
/home/virtual/site*/fst/.socket
